page-lista-pacientes {

	.menu{
		max-height: 2.5em;
	}

	.background-pacientes{
		//background-color: #174361;
		background-image: url('../assets/wallpapers/eye.png');
	}

	.div-pesquisar{
		width: 100%;
		height: 3em;
	}

	.input-login{
		width: 80%;	
		height: 100%;
		float: left;
	  	margin: 0 0 1em 0;
	  	background-color: #2b476a;
	  	color: white;
	}

	.botao-limpar{
		width: 10%;
		height: 100%;
		margin: 0;
		padding: 0;
		border-radius: 0;
		float: left;
		background-color: #2b476a;
	}

	.botao-pesquisar{
		width: 10%;
		height: 100%;
		margin: 0;
		padding: 0;
		border-radius: 0;
		float: left;
		background-color: #2b476a;
	}

	@keyframes fadeIn {
		to {
			opacity: 1;
		}
	}

	.fade-in {
		opacity: 0;
		animation: fadeIn .5s ease-in 1 forwards;

		position: fixed;
		top:0;
		left:0;
		z-index: 9999;
		width: 100%;
		height:auto; 
		min-height:100%;
		background: #000000;
		opacity: 0.95;
		display: none;
	}

	.is-paused {
		animation-play-state: paused;
	}

	.div-center{
		max-width: 27em;
		max-height: 27em;
		position: absolute;
		top: 48%;
		left: 50%;
		margin-top: -13.5em;
		margin-left: -13.5em;
	}

	.img-usuario{
		width: 27em;
		height: 27em;
	}

	.img-usuario-mensagem{
		color: white; 
		font-size: 0.8em;
		text-align: center;
	}

	.div-lista-pacientes{
		width: 100%;
	}

	@media all and (min-width: 900px) { 
		.div-lista-pacientes{  
			width: 80%;
			margin: 2em 10% 2em 10%;
		} 
	}

	.item{
		margin: 0 0 1em 0;
		border-radius: 4px;
		background-color: #e1e9f4;
	}

	.link-sem-decoracao:link { 
		text-decoration:none; 
		color: black;
	}

	.link-sem-decoracao:visited {
	    text-decoration:none; 
		color: black;
	} 

	.img-lista{
		background-color: #2b3d53;
	    -webkit-border-radius: 50%;
    	border-radius: 50%;
	}

}
