<ion-header>
	<ion-navbar class="menu" color="menu">
  	</ion-navbar>
</ion-header>

<ion-content class="background-pacientes">
	<div class='divImagemExpandidaPacientes fade-in is-paused' 
	(click)="FecharImagemExpandida()">
		<div class="div-center">
			<img class="img-usuario" src="{{imagemExpandida}}" />
			<p class="img-usuario-mensagem">
				Toque para fechar
			</p>
		</div>
	</div>

	<div class="div-pesquisar">
		<ion-input class="input-login" placeholder="Buscar por..." 
		name="login" [(ngModel)]="pesquisar">
		</ion-input>
		<button class="botao-limpar" ion-button (click)="LimparCampoDePesquisa()">
			<ion-icon name="ios-close" color="light"></ion-icon>
		</button>
		<button class="botao-pesquisar" ion-button (click)="BuscarPacientesPorFiltro()">
			<ion-icon name="ios-search" color="light"></ion-icon>
		</button>
	</div>
	
	<div padding>
		<div class="div-lista-pacientes">
			<ion-list *ngFor="let paciente of listaDePacientes">
				<ion-item class="item">
					<a class="link-sem-decoracao" href="#" 
					(click)="VisualizarPaciente(paciente.id)">
						<h2>{{paciente.nome}} {{paciente.sobrenome}}</h2>
						<p *ngIf="paciente.telefone !== ''">
							Contato: {{paciente.telefone}}
						</p>
						<p *ngIf="paciente.telefone === ''">
							Contato: Não Informado
						</p>

						<p *ngIf="paciente.idade !== null">
							Idade: {{paciente.idade}} anos
						</p>
						<p *ngIf="paciente.idade === null">
							Idade: Não Informado
						</p>
					</a>
						<ion-thumbnail item-end>
							<a class="link-sem-decoracao" 
							(click)="ExpandirImagem(paciente.imagem_paciente)">
								<img src="{{paciente.imagem_paciente}}">
							</a>
						</ion-thumbnail>
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-content>
