<ion-header>
	<ion-navbar class="menu" color="menu">  
	    <ion-title>
	      <p>{{titulo}}</p>
	    </ion-title>
  	</ion-navbar>
</ion-header>

<ion-content class="background-receitas">
	
	<div class="div-adicionar-paciente">

		<form (ngSubmit)="ConfirmaSalvarReceita()" ngNativeValidate>
			
			<h3 class="div-titulo-topo">Dados Pessoais</h3>
			<div padding>	
				<div>
					<h3>
						<span class="span-titulo">Nome: </span>
						<span class="span-descricao" *ngIf="receitaForm.nome !== ''">
							{{receitaForm.nome}}
						</span>
						<span class="span-descricao" *ngIf="receitaForm.nome === ''">
							Não Informado
						</span>
					</h3>
				</div>

				<div>
					<h3>
						<span class="span-titulo">Sobrenome: </span>
						<span class="span-descricao" *ngIf="receitaForm.sobrenome !== ''">
							{{receitaForm.sobrenome}}
						</span>
						<span class="span-descricao" *ngIf="receitaForm.sobrenome === ''">
							Não Informado
						</span>
					</h3>
				</div>
			</div>

			<h3 class="div-titulo">Anamnese</h3>
			<div padding>
				<div class="div-input">
					<p class="titulo-input">Sinais e Sintomas:</p>
					<ion-input class="input" type="text" maxlength="300"
					placeholder="Exemplo: Visão turva ao olhar de perto"
					[(ngModel)]="receitaForm.sintomas" name="sintomas"
					(ionBlur)="FormataNome('sintomas',receitaForm.sintomas)">
					</ion-input>
					<button type="button" class="botao-limpar" 
					(click)="LimparCampoForm('sintomas')">
						<ion-icon name="ios-close" color="light"></ion-icon>
					</button>
				</div>

				<div class="div-input">
					<p class="titulo-input">Antecedentes Pessoais/Familiares:</p>
					<ion-input class="input" type="text" maxlength="300"
					placeholder="Exemplo: O pai tem problema na visão"
					[(ngModel)]="receitaForm.antecedentes" name="motivo"
					(ionBlur)="FormataNome('antecedentes',receitaForm.antecedentes)">
					</ion-input>
					<button type="button" class="botao-limpar" 
					(click)="LimparCampoForm('antecedentes')">
						<ion-icon name="ios-close" color="light"></ion-icon>
					</button>
				</div>
			</div>


			<h3 class="div-titulo">Receita</h3>
			
			<div padding>

				<div class="div-input">
					<p class="titulo-input">Data:</p>
					<ion-input class="input" type="text"
					placeholder="Exemplo: 22/08/1985"
					[(ngModel)]="receitaForm.dataConsulta" name="dataConsulta" 
					maxlength="10"
					(ionBlur)="FormataData('dataConsulta',receitaForm.dataConsulta)">
					</ion-input>
					<button type="button" class="botao-limpar" 
					(click)="LimparCampoForm('dataConsulta')">
						<ion-icon name="ios-close" color="light"></ion-icon>
					</button>
				</div>

				<div class="div-input">
					<p class="titulo-input">Usuario de RX:</p>
					<ion-item class="input-radio">
						<ion-select class="select" [(ngModel)]="receitaForm.rx" name="rx" 
						cancelText="Cancelar" okText="Ok">
							<ion-option value="Não">Não</ion-option>
							<ion-option value="Óculos">Óculos</ion-option>
							<ion-option value="Lente de Contato">Lente de Contato</ion-option>
							<ion-option value="Auxílio de Visão">Auxílio de Visão</ion-option>
					    </ion-select>
				    </ion-item>
				    <button type="button" class="botao-limpar" 
					(click)="LimparCampoForm('rx')">
						<ion-icon name="ios-close" color="light"></ion-icon>
					</button>
				</div>

				<div class="div-tabela">
					<table width="100%" class="borda-simples"> 
						<tr> 
						    <td class="coluna-1 padding-linha cor-linha-coluna"
						    (click)="ConfirmacaoLimparTabela()">
						    	<ion-icon name="ios-close" color="light"></ion-icon>
						    </td>
						    <td>Esf.</td>
						    <td>Cil.</td>
						    <td>Eixo</td>
						    <td>A.V.</td>
						</tr>
						<tr> 
						    <td class="coluna-1">O.D.</td>
						    <td class="coluna-2">	    	
								<ion-input class="input-tabela" type="text" maxlength="300"
								placeholder="" text-center
								[(ngModel)]="receitaForm.odEsf" name="odEsf">
								</ion-input>				    
						    </td>
						    <td class="coluna-2">
						    	<ion-input class="input-tabela" type="text" maxlength="300"
								placeholder="" text-center
								[(ngModel)]="receitaForm.odCil" name="odCil">
								</ion-input>
						    </td>
						    <td class="coluna-2">
						    	<ion-input class="input-tabela" type="text" maxlength="300"
								placeholder="" text-center
								[(ngModel)]="receitaForm.odEixo" name="odEixo">
								</ion-input>
						    </td>
						    <td class="coluna-2">
						    	<ion-input class="input-tabela" type="text" maxlength="300"
								placeholder="" text-center
								[(ngModel)]="receitaForm.odAv" name="odAv">
								</ion-input>
						    </td>
						</tr>
						<tr> 
						    <td class="coluna-1">O.E.</td>
						    <td class="coluna-2">	    	
								<ion-input class="input-tabela" type="text" maxlength="300"
								placeholder="" text-center
								[(ngModel)]="receitaForm.oeEsf" name="oeEsf">
								</ion-input>				    
						    </td>
						    <td class="coluna-2">
						    	<ion-input class="input-tabela" type="text" maxlength="300"
								placeholder="" text-center
								[(ngModel)]="receitaForm.oeCil" name="oeCil">
								</ion-input>
						    </td>
						    <td class="coluna-2">
						    	<ion-input class="input-tabela" type="text" maxlength="300"
								placeholder="" text-center
								[(ngModel)]="receitaForm.oeEixo" name="oeEixo">
								</ion-input>
						    </td>
						    <td class="coluna-2">
						    	<ion-input class="input-tabela" type="text" maxlength="300"
								placeholder="" text-center
								[(ngModel)]="receitaForm.oeAv" name="oeAv">
								</ion-input>
						    </td>
						</tr>
					</table>
				</div>

				<div class="div-input">
					<p class="titulo-input">Adição:</p>
					<ion-input class="input" type="text"
					placeholder="Exemplo: 2.00"
					[(ngModel)]="receitaForm.adicao" name="adicao" 
					maxlength="10">
					</ion-input>
					<button type="button" class="botao-limpar" 
					(click)="LimparCampoForm('adicao')">
						<ion-icon name="ios-close" color="light"></ion-icon>
					</button>
				</div>

				<div class="div-input">
					<p class="titulo-input">Tipo de Lente:</p>
					<ion-input class="input" type="text"
					placeholder="Exemplo: Progressiva"
					[(ngModel)]="receitaForm.tipoDeLente" name="tipoDeLente" 
					maxlength="50"
					(keyup)="FormataNome('tipoDeLente',receitaForm.tipoDeLente)">
					</ion-input>
					<button type="button" class="botao-limpar" 
					(click)="LimparCampoForm('tipoDeLente')">
						<ion-icon name="ios-close" color="light"></ion-icon>
					</button>
				</div>

				<div class="div-input">
					<p class="titulo-input">Cor:</p>
					<ion-input class="input" type="text"
					placeholder="Exemplo: Verde"
					[(ngModel)]="receitaForm.cor" name="cor" 
					maxlength="30"
					(keyup)="FormataNome('cor',receitaForm.cor)">
					</ion-input>
					<button type="button" class="botao-limpar" 
					(click)="LimparCampoForm('cor')">
						<ion-icon name="ios-close" color="light"></ion-icon>
					</button>
				</div>

			</div>

			<div class="div-botoes" text-center>
				<button type="submit" class="salvar-formulario" ion-button>
					Salvar
				</button>
				<button type="button" class="limpar-formulario" ion-button
				(click)="ConfirmaLimparFormulario()">
					Limpar
				</button>
			</div>
		
	    </form>

	</div>

</ion-content>
